%h1= @user.name
  %p= @user.email
  %small

    = link_to "Edit", edit_user_path(@wiki), class: 'button' if @user == @user
  = link_to "Delete User", @user, method: :delete, class: 'button',confirm: 'Are you sure you want to delete this?' if @user = @user
  %br
    